## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(0,100), 80)    

print("sample_list_1:", sample_list_1)

sample_list_1: [12, 42, 55, 23, 63, 65, 3, 91, 34, 77, 10, 62, 64, 28, 78, 68, 90, 54, 98, 84, 46, 9, 43, 52, 61, 58, 75, 5, 71, 97, 74, 27, 41, 70, 88, 45, 31, 99, 24, 53, 72, 15, 38, 11, 4, 7, 47, 33, 82, 36, 83, 87, 30, 49, 25, 73, 44, 39, 94, 37, 51, 96, 56, 89, 92, 0, 13, 29, 59, 21, 81, 20, 19, 18, 67, 93, 80, 76, 6, 57]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print("Set1:", set1)

if len(set1) == 80:
    print("The lenght is 80")
else:
    print("The lenght is not 80. It is %d." %(len(set1)))

Set1: {0, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
The lenght is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []

for x in range (0,80):
    sample_list_2.append(random.randint(0,100))

print("sample_list_2:", sample_list_2)

sample_list_2: [17, 46, 46, 52, 0, 30, 23, 25, 10, 8, 93, 18, 38, 83, 66, 84, 11, 40, 26, 21, 100, 8, 60, 35, 55, 5, 42, 51, 57, 99, 27, 57, 25, 90, 1, 54, 72, 82, 78, 49, 1, 35, 19, 16, 27, 14, 13, 67, 58, 59, 6, 3, 84, 65, 3, 34, 19, 46, 80, 45, 58, 41, 4, 2, 44, 53, 24, 77, 75, 7, 58, 98, 32, 97, 88, 65, 89, 85, 49, 77]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print("Set2:", set2)

if len(set2) == 80:
    print("The lenght is 80")
else:
    print("The lenght is not 80. It is %d." %(len(set2)))

Set2: {0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 16, 17, 18, 19, 21, 23, 24, 25, 26, 27, 30, 32, 34, 35, 38, 40, 41, 42, 44, 45, 46, 49, 51, 52, 53, 54, 55, 57, 58, 59, 60, 65, 66, 67, 72, 75, 77, 78, 80, 82, 83, 84, 85, 88, 89, 90, 93, 97, 98, 99, 100}
The lenght is not 80. It is 64.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set1 - set2

print("set3:", set3)

set3: {9, 12, 15, 20, 28, 29, 31, 33, 36, 37, 39, 43, 47, 56, 61, 62, 63, 64, 68, 70, 71, 73, 74, 76, 81, 87, 91, 92, 94, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2 - set1

print("set4:", set4)

set4: {32, 1, 2, 35, 66, 100, 8, 40, 14, 16, 17, 85, 26, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set1.intersection(set2)

print("set5:", set5)

set5: {0, 3, 4, 5, 6, 7, 10, 11, 13, 18, 19, 21, 23, 24, 25, 27, 30, 34, 38, 41, 42, 44, 45, 46, 49, 51, 52, 53, 54, 55, 57, 58, 59, 65, 67, 72, 75, 77, 78, 80, 82, 83, 84, 88, 89, 90, 93, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

check_set1 = (len(set3) + len(set5))
if (len(set1) == check_set1):
    print("the relationship is verified. The elements present in set1 but not in set2 plus the shared elements give the total elements of set1")

check_set2 = (len(set4) + len(set5))
if (len(set2) == check_set2):
    print("the relationship is verified. The elements present in set2 but not in set1 plus the shared elements give the total elements of set1")

80
64
30
14
50
the relationship is verified. The elements present in set1 but not in set2 plus the shared elements give the total elements of set1
the relationship is verified. The elements present in set2 but not in set1 plus the shared elements give the total elements of set1

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3, set5)

print(set6)

{0, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
z = set2.issubset(set1)

print(z)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
aggregate_sets3_4_5 = set3.union(set4,set5)
print(aggregate_sets3_4_5)

aggregate_sets1_2 = set1.union(set2)
print(aggregate_sets1_2)

aggregate_sets3_4_5 == aggregate_sets1_2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [17]:
value_removed = set1.pop()
print("The value removed was:", value_removed)

print("set1:", set1)

The value removed was: 3
set1: {4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 18, 19, 20, 21, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

common_value = (set(list_to_remove)).intersection(set1)

print(common_value)
print (set1 - common_value)

{99, 39, 71, 9, 41, 11, 91, 49, 81, 19, 51, 21, 61, 89, 59, 29, 31}
{4, 5, 6, 7, 10, 12, 13, 15, 18, 20, 23, 24, 25, 27, 28, 30, 33, 34, 36, 37, 38, 42, 43, 44, 45, 46, 47, 52, 53, 54, 55, 56, 57, 58, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 96, 97, 98}